# --------------------
# Node (frontend)
# --------------------
node_modules/
dist/
*.log

# --------------------
# Python (backend)
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
env/
.venv/

# --------------------
# Environment files
# --------------------
.env
*.env

# --------------------
# IDE / Editor
# --------------------
.vscode/
.idea/
*.swp
.DS_Store
